/* Header section */
body {
    background-color: antiquewhite;
}

.header {
    display: flex;
    justify-content: space-around;
    font-family: system-ui;
}

.header-title {
    font-size: 22px;
    margin-top: 13px;
}

.navigation ul li{
    list-style: none;
    display: inline-block;
    padding-right: 90px;
}

.navigation ul li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.header-icon i{
    margin-top: 18px;
    margin-right: 15px;
    cursor: pointer;
}

.header-margin {
    width: 100%;
    border: 2px solid lightcoral;
    margin-top: -14px;
}

/* Enojoy section */
.enjoy-container {
    display: flex;
    margin-top: 90px;
    margin-left: 165px;
}
.enjoy-title {
    font-size: 45px;
    font-family: sans-serif;
}

.enjoy-title span {
    color: tomato;
}

.enjoy-description {
    width: 490px;
    margin-top: -20px;
}

.enjoy-btn {
    width: 118px;
    padding: 10px;
    border-radius: 7px;
    background-color: tomato;
    color: white;
    border: none;
    cursor: pointer;
}
.enjoy-btn:hover {
    background-color: rgb(9, 9, 48);
    color: white;
}
.enjoy-food {
    width: 375px;
    margin-left: 175px;
}
/* Food section */

.food-container {
    background-color: white;
    width: 70%;
    padding-bottom: 44px;
    margin-top: 80px;
    margin-left: 210px;
    border-radius: 10px;
    height: 281px;
}
.food-content{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 115px;
}
.food-cart{
    width: 245px;
    text-align: center;
    margin-top: 50px;
}
.food-cart:hover {
    border: 2px solid rgb(9, 9, 48);
    height: 230px;
    border-radius: 8px;
}
.food-img {
    width: 50px;
}
.food-title {
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui;
    margin-top: 13px;
    margin-bottom: -2px;
}
.food-description {
    width: 246px;
    color: #444343;
}

.food-btn1 {
    width: 118px;
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(9, 9, 48);
    color: white;
    border: none;
    cursor: pointer;
}
.food-btn {
    width: 118px;
    padding: 10px;
    border-radius: 7px;
    background-color: transparent;
    color: tomato;
    border-color: tomato;
    cursor: pointer;
}
.food-btn:hover {
    background-color: rgb(9, 9, 48);
    color: white;
    border: none
}

/* Favorite section */
.favorite-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.favorite-content {
    display: flex;
}
.favorite-food {
    width: 450px;
    margin-top: 90px;
}

.favorite-title {
    font-size: 35px;
    font-family: sans-serif;
    margin-left: -77px;
    margin-top: 115px;
}

.cart-food {
    width: 50px;
    margin-top: 10px;
}

.food-content-right {
    margin-top: -44px;
    margin-left: -100px;
}

.cart-img {
    display: inline-grid;
    gap: 10px;
    margin-top: 174px;
    margin-right: 115px;
}
.cart-title {
    font-size: 25px;
    font-family: system-ui;
}
.cart-description {
    width: 513px;
    color: #444343;
    margin-top: -22px;
}

/* Popular section */
.popular-container {
    margin-top: 100px;
}

.food-item {
    font-size: 35px;
    font-family: system-ui;
    text-align: center;
    margin-top: 120px;
}
.popular-description-top {
    margin-left: 588px;
    margin-top: -17px;
    width: 330px;
    text-align: center;
    color: #444343;
}
.popular-contain {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 235px;
    background-color: #ffa784;
    width: 85%;
    margin-left: 116px;
    height: 200px;
}
.Popular-carts {
    background-color: white;
    width: 262px;
    height: 325px;
    border-radius: 10px;
    margin-top: -160px;
    text-align: center;
}
.popular-food {
    width: 110px;
    margin-top: 28px;
}
.Popular-carts:hover {
    border: 2px solid rgb(9, 9, 48);
}
.popular-title {
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui;
    margin-top: 13px;
    margin-bottom: -2px;
}
.popular-description {
    width: 246px;
    color: #444343;
}
.popular-btn {
    width: 118px;
    padding: 10px;
    border-radius: 7px;
    background-color: transparent;
    color: tomato;
    border-color: tomato;
    cursor: pointer;
}
.popular-btn1 {
    width: 118px;
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(9, 9, 48);
    color: white;
    border: none;
    cursor: pointer;
}

.popular-btn:hover {
    background-color: rgb(9, 9, 48);
    color: white;
    border: none;
}
/* Customer section */
.customer-content {
    display: flex;
    margin-top: 100px;
}
.customer-item-left {
    margin-left: 112px;
    margin-top: 60px;
}
.customer-title {
    font-size: 28px;
    font-family: system-ui;
    margin-bottom: 0px;
}
.customer-description {
    width: 400px;
    text-align: justify;
    color: #444343;
}
.customer-sub-title {
    font-size: 18px;
    font-family: system-ui;
}
.customer-sub-title span {
    font-size: 13px;
    color: tomato;
}

.award-left {
    display: inline-flex;
    margin-top: 10px;
}
.award-content {
    background-color: #ffa784;
    width: 765px;
    padding: 10px;
    margin-left: 110px;
    border-top-right-radius: 100px;
}
.award {
    width: 270px;
    margin-top: 7px;
    margin-left: 12px;
}
.award-number {
    font-size: 40px;
    color: rgb(247, 62, 29);
    font-weight: 700;
}
.award-number i {
    color: black;
}
.customer-shefs {
    width: 375px;
    margin-top: 70px;
    margin-left: 50px;
}
.customer-buttom{
    display: flex;
    justify-content: space-around;
}
.customer-newsletter {
    font-size: 25px;
    font-family: system-ui;
    margin-left: -101px;
}
.customer-newsletter span {
    color: tomato;
}
.customer-email {
    padding: 11px;
    border-radius: 5px;
    border: none;
    background-color: #ffa784;
    width: 220px;
    margin-left: 90px;
}
.customer-subscribe {
    width: 100px;
    padding: 9px;
    border-radius: 6px;
    border: none;
    background-color: tomato;
    color: white;
    cursor: pointer;
} 
.customer-buttom-left {
    margin-top: 40px;
    margin-left: 70px;
}
.customer-margin {
    width: 100%;
    border: 1px solid lightcoral;
}
/* Menu section */
.menu-container {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 200px;
}
.menu-title {
    text-align: center;
    font-size: 40px;
    margin-top: 110px;
    margin-right: 220px;
    font-family: system-ui;
}
.menu-contain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-right: 145px;
}
.menu-cart {
    width: 275px;
    text-align: center;
    background-color: white;
    padding-top: 24px;
    padding-bottom: 2px;
    border-radius: 15px;
}
.menu-food {
    width: 212px;
    margin-top: 2px;
}
.menu-sub-title {
    font-size: 20px;
    margin-top: 2px;
    font-family: system-ui;
}
.menu-description {
    margin-top: -18px;
}
.menu-dolar {
    font-size: 20px;
    margin-top: -4px;
    font-weight: 700;
    font-family: system-ui;
}
/* Shefs section */
.shefs-contain {
    display: flex;
    justify-content: center;
    gap: 61px;
    margin-bottom: 50px;
}

.shefs-title {
    text-align: center;
    font-size: 40px;
    margin-top: 110px;
    font-family: system-ui;
}
.shefs-cart {
    width: 275px;
    text-align: center;
    background-color: white;
    padding-top: 24px;
    padding-bottom: 2px;
    border-radius: 15px;
}
.shefs-img {
    width: 212px;
    margin-top: 2px;
}

/* Footer section */
.footer-contain {
    display: flex;
    height: 320px;
    justify-content: space-around;
    background-color: #ffa78482;
    gap: 200px;
}
.footer-right{
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-left {
    width: 190px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
